In [16]:
x = ["my name is xyz", "I am ai student"]

In [18]:
import pandas as pd

In [20]:
df = pd.DataFrame({"Intro" : x})
df

             Intro
0   my name is xyz
1  I am ai student

In [22]:
from sklearn.feature_extraction.text import CountVectorizer

In [24]:
cv = CountVectorizer()

In [39]:
new_data = cv.fit_transform(df["Intro"]).toarray()

In [41]:
new_data

array([[0, 0, 1, 1, 1, 0, 1],
       [1, 1, 0, 0, 0, 1, 0]], dtype=int64)

In [43]:
cv.vocabulary_

{'my': 3, 'name': 4, 'is': 2, 'xyz': 6, 'am': 1, 'ai': 0, 'student': 5}